<div id="header">
<div id="header_body">
<div class="inner_l">
<div>
<a href="{{ path('droppy_webapp_top') }}">
<img src="{{ asset('images/common/header_logo.gif') }}" alt="Droppy">
</a>
</div>
<h1>{{ 'header.unlogged.title' | trans({}, 'DroppyWebApplicationBundle') }}</h1>
</div>
<div class="inner_r">
<ul id="dulldown">
<li>{{ 'header.unlogged.has_account' | trans({}, 'DroppyWebApplicationBundle') }}
<span>{{ 'header.unlogged.login' | trans({}, 'DroppyWebApplicationBundle') }}</span>
<div>
<ul>
<li class="login_droppy">
<a href="{{ path('fos_user_security_login') }}">{{ 'header.unlogged.login_droppy' | trans({}, 'DroppyWebApplicationBundle') }}</a>
</li>
<li class="login_fb"><a href="#">{{ 'header.unlogged.login_fb' | trans({}, 'DroppyWebApplicationBundle') }}</a>
</li>
</ul>
<br class="clear">
</div>
</li>
</ul>
</div>
<br class="clear">
</div>
<!-- // #header_body -->
</div>
<!-- // #header -->
