<div class="main_cal_box">
	<h3 class="ttl_mycal">
		<strong>{{ 'schedule.type.private' | trans({}, 'DroppyWebApplicationBundle') }}</strong>
	</h3>
	<div class="cal_ymd_box">
		<div class="bg">
			<ul>
				<li class="prev"><a href="#" id="{{ schedule_information.prev }}" class="to_other_schedule">
					<img src="{{ asset('images/common/btn_prev.gif') }}" alt="Prev">
				</a></li>
				<li class="ymd">
				{{ 'time.date' | trans({'%month%': 'time.months' | transchoice(schedule_information.dt 
				| date('m'), {}, 'DroppyWebApplicationBundle'), 
				'%year%' : schedule_information.dt | date('Y')}, 'DroppyWebApplicationBundle') }}
				</li>
				<li class="next"><a href="#" id="{{ schedule_information.next }}" class="to_other_schedule">
					<img src="{{ asset('images/common/btn_next.gif') }}" alt="Next">
				</a></li>
			</ul>
			<br class="clear">
		</div><!-- // .bg -->
	</div><!-- // .cal_ymd_box -->
	{% set blank = schedule_information.blank %}
	{% set start_date = schedule_information.start_date %}
	{% set day_count = 1 %}
	<table border="0" cellpadding="0" cellspacing="0" class="main_calender">
		<tr>
			<th><p>{{ 'time.mon' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
			<th><p>{{ 'time.tue' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
			<th><p>{{ 'time.wed' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
			<th><p>{{ 'time.thu' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
			<th><p>{{ 'time.fri' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
			<th class="sat"><p>{{ 'time.sat' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
			<th class="sun"><p>{{ 'time.sun' | trans({}, 'DroppyWebApplicationBundle') }}</p></th>
		</tr>
		<tr> 
			{% for i in range(0, blank-1) %}
			{% set day_count = day_count + 1 %}
			<td><div><span class="days txt_gray">{{ start_date + i }}</span>
					<p><a href="#" data-reveal-id="modalwin"></a></p>
			</div></td>
			{% endfor %}

			{% for i in range(1,schedule_information.dt|date('t')) %}
			{% if day_count is divisibleby(6) %}
			<td class="sat">
				{% elseif day_count is divisibleby(7) %}
				<td class="sun">
					{% else %}
					<td class="days">
						{% endif %}
						<div><span class="days">{{ i }}</span>
							<p><a href="#" data-reveal-id="modalwin"></a></p>
						</div>
					</td>
					{% set day_count = day_count + 1 %}
					{% if day_count > 7 %}
				</tr>
				<tr>
					{% set day_count = 1 %}
					{% endif %}
					{% endfor %}

					{% for i in 1..7 %}
					{% if day_count > 1 and day_count <= 7 %}
					{% if day_count is divisibleby(6) %}
					<td class="sat">
						{% elseif day_count is divisibleby(7) %}
						<td class="sun">
							{% else %}
							<td class="days">
								{% endif %}
								<div><span class="days txt_gray">{{ i }}</span>
									<p><a href="#" data-reveal-id="modalwin"></a></p>
							</div></td>
							{% set day_count = day_count + 1 %}
							{% endif %}
							{% endfor %}
						</tr>
					</table>
				</div><!-- // .main_cal_box -->


