<div class="setting_items">
    <h3>{{ 'settings.password.label' | trans({}, 'DroppyMainBundle') }}</h3>
	<form name="change_password" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		<table>
			<tbody>
				<tr>
					<th>{{ 'settings.password.old' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.current) }}</td>
				</tr>
				<tr>
					<th>{{ 'settings.password.new' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.new.first) }}</td>
				</tr>
				<tr>
					<th>{{ 'settings.password.new_confirm' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.new.second) }}</td>
				</tr>
			</tbody>
		</table>
		{{ form_rest(form) }}
		<div class="button">
			<span class="button_big light_blue" onclick="change_password.submit()">
				{{ 'settings.apply'|trans({}, 'DroppyMainBundle') }}
			</span>
			<span class="button_big white" onclick='location.href="{{ path('droppy_main_index') }}"'>
				{{ 'common.cancel'|trans({}, 'DroppyMainBundle') }}
			</span>
	</div>
	</form>
</div>


