{% block field_row %}
	<tr>
		{{ form_label(form, label | default(null)) }}
		<td>
			{{ form_errors(form) }}
			{{ form_widget(form) }}
		</td>
	</tr>
{% endblock field_row %}

{% block generic_label %}
{% spaceless %}
	<th><span>{{ label | trans({}, 'DroppyWebApplicationBundle') }}
	{% if required %}
		<span>&nbsp;({{ 'form.required' | trans({}, 'DroppyWebApplicationBundle') }})</span>
	{% endif %}
	</span></th>
{% endspaceless %}
{% endblock generic_label %}


{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child) }}
            {{ child.vars.label | trans({}, 'DroppyWebApplicationBundle') }}
        {% endfor %}
        </div>
    {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, 'DroppyWebApplicationBundle') }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}


{% block text_widget %}
{% set type = type | default('text') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="txt_field" />
	{{ block('abstract_text_widget') }}
{% endblock text_widget %}

{% block tag_widget %}
{% spaceless %}
	{% for child in form %}
		{{ form_widget(child.name) }}
	{% endfor %}
{% endspaceless %}
{% endblock %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

