{% extends "DroppyUserBundle::layout.html.twig" %}
{% form_theme form 'DroppyUserBundle:Layout:widgets_theme_register.html.twig' %}

{% block css %}
<link rel=stylesheet type="text/css" href="{{ asset('css/register.css') }}" />
{% endblock %}

{% block body %}
<div id="content">
	<p class="title">{{ 'user.user_register' | trans({}, 'DroppyMainBundle')  }}</p>
	<form name="register_user" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		<div id="register_form">
			<table border="0" cellspacing="0" cellpadding="0">
				<span class="error_msg">{{ form_errors(form.personalDatas.displayedName) }}</span>
				<tr><th>{{ 'user.nickname' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.personalDatas.displayedName) }}</td>
				</tr>
				<span class="error_msg">{{ form_errors(form.username) }}</span>
				<tr><th>{{ 'user.username' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.username) }}</td>
				</tr>
				<span class="error_msg">{{ form_errors(form.email) }}</span>
				<tr><th>{{ 'user.mailaddress' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.email) }}</td>
				</tr>
				<span class="error_msg">{{ form_errors(form.plainPassword.first) }}</span>
				<tr><th>{{ 'user.password' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.plainPassword.first) }}</td>
				</tr>
				<span class="error_msg">{{ form_errors(form.plainPassword.second) }}</span>
				<tr><th>{{ 'user.password_confirm' | trans({}, 'DroppyMainBundle') }}</th>
					<td>{{ form_widget(form.plainPassword.second) }}</td>
				</tr>
				<tr><th>{{ 'privacy_policy.event' | trans({}, 'DroppyMainBundle') }}</th>
					<td><div class="account_register_choice_form">
							{{ form_widget(form.settings.privacySettings.visibility) }}
					</div></td>
					<span class="error_msg">{{ form_errors(form.settings) }}</span>
					{{ form_rest(form) }}
				</table>
				<div class="button">
					<p class="btn_style1">
					<a href="#" onclick="register_user.submit()">
						{{ 'registration.submit' | trans({}, 'FOSUserBundle') }}
					</a>
					</p>
				</div>

			</form>
		</div>
		{% endblock body %}
