{% extends 'DroppyMainBundle::layout.html.twig' %}

{% block javascript %}
<script type="text/javascript">
/**
 * Script for changing tabs
 */
$(function(){
	$('#ui-tab-3 > ul').tabs({ fx: { opacity: 'toggle', duration: 'fast'  } });
		$.getScript("{{ asset('js/user_status_changer.js') }}").done(function() {
			addLinks("{{ path('droppy_user_ajax_drop') }}",	"{{ path('droppy_user_ajax_undrop') }}");
		});
});
</script>
{% endblock javascript%}

{% block body %}
<div id="main2col" class="clearfix">
	<div id="account">
		<dl class="profile clearfix">
			<dt>
			{% if user.personalDatas.iconSet.uploaded %}
			<img src="{{ asset(user.personalDatas.iconSet.smallIconPath) }}" width="120" height="120" alt="" />
			{% else %}
			<img src="{{ asset('img/dummy_120x120.gif') }}" width="120" height="120" alt="" />
			{% endif %}
			</dt>
			<dd>
			<p class="name">{{ user.personalDatas.displayedName }} @{{ user.username }}</p>
			<p class="info">{{ user.personalDatas.introduction }}</p>
			</dd>
		</dl>

		<div id="tab">
			<div id="ui-tab-3">
				<ul>
					<li class="ui-tab-3-1"><a href="#created_tab_box">
						<span>
							{{ 'event.created_events' | trans({}, 'DroppyMainBundle') }}
						</span>
					</a></li>
					<li class="ui-tab-3-2"><a href="#drop_tab_box"><span>Drop</span></a></li>
					<li class="ui-tab-3-3"><a href="#dropper_tab_box"><span>Dropper</span></a></li>
				</ul>
			</div>
			<div id="created_tab_box">
				<div class="box">
					{% for event in created_events %} 
					{% include 'DroppyEventBundle:Includes:account_details_event.html.twig' with {'event' : event} %}
					{% endfor %}
				</div>
			</div>
			<div id="drop_tab_box">
				<div class="box first-select">
					{% for user_info in dropping_users %}
					{% include 'DroppyUserBundle:Includes:account_details_user.html.twig' with {'user_info' : user_info} %}
					{% endfor %}
				</div>
			</div>
			<div id="dropper_tab_box">
				<div class="box">
					{% for user_info in droppers %}
					{% include 'DroppyUserBundle:Includes:account_details_user.html.twig' with {'user_info' : user_info} %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div id="side-container">
		<div id="sidebar_right">
			<h3>{{ 'user.recommended_users' | trans({}, 'DroppyMainBundle') }}</h3>
			{% for user_info in popular_users %}
			{% include 'DroppyUserBundle:Includes:sidebar_user.html.twig' with {'user_info' : user_info} %}
			{% endfor %}
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.hidden').hide();
	</script>
	{% endblock %}
