{% block field_row %}
<tr>
	{{ form_label(form, label | default(null)) }}
	<td>
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</td>
</tr>
{% endblock field_row %}

{% block generic_label %}
{% spaceless %}
<th><span>{{ label | trans({}, 'DroppyWebApplicationBundle') }}
		{% if required %}
		<span>&nbsp;({{ 'form.required' | trans({}, 'DroppyWebApplicationBundle') }})</span>
		{% endif %}
</span></th>
{% endspaceless %}
{% endblock generic_label %}

{% block text_widget %}
{% set type = type | default('text') %}
<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="txt_field" />{{ block('abstract_text_widget') }}
{% endblock text_widget %}

{% block choice_widget %}
<div {{ block('widget_container_attributes') }}>
	<dl class="ColorRadio" id="choice_user_privacy">
		<dd>
		<ul>
			{% for child in form %}
			<li>
			{{ form_widget(child) }}
			<label>{{ child.vars.label | trans({}, 'DroppyMainBundle') }}</label>
			</li>
			{% endfor %}
		</ul>
		</dd>
	</dl>
</div>
{% endblock choice_widget %}

