<div class="ttl">
	<h3>{{ name | trans({}, 'DroppyWebApplicationBundle') }}</h3>
	<p>
		&raquo;&nbsp;<a href="#">{{ 'common.see_more' | trans({}, 'DroppyWebApplicationBundle')}}</a>
	</p>
	<br class="clear">
</div>
<!-- // .ttl -->
<div class="cal_list">
	<ul>
		{% for schedule in schedules %}
		
        		{% if schedule.iconSet.uploaded %}
        			<li><img src="{{ asset(schedule.iconSet.smallIconPath) }}" alt=""><br>
        		{% else %}
	        		<li><img src="{{ asset('images/toppage/dammy_photo_127x127.jpg') }}" alt=""><br>
        		{% endif %}

			<a href="#">{{ schedule.name }}</a></li>
		{% endfor %}
	</ul>
	<br class="clear">
</div>
