{% set user = user_info.user %}
<div class="user_wrapper" user_id="{{ user.id }}">
	<dl class="clearfix">
		<dt>
			{% if user.personalDatas.iconSet.uploaded %}
				<img src="{{ asset(user.personalDatas.iconSet.smallIconPath) }}" alt="" width="120" height="120">
			{% else %}
				<img src="{{ asset('img/dummy_120x120.gif') }}" alt="" width="120" height="120">
			{% endif %}
		</dt>
		<dd>
		<p class="name"><a href="{{ path('droppy_user_user_information', {'id' : user.id}) }}">
			{{ user.personalDatas.displayedName }}</a></p>
		<p class="info">{{ user.personalDatas.introduction }}</p>
		{% if user_info.dropped %}
			<a href="#" class="status_changer drop hidden"><img src="{{ asset('img/btn_drop_large_ja.png') }}"></a>
			<a href="#" class="status_changer undrop"><img src="{{ asset('img/btn_dropping_large_ja.png') }}"></a>
		{% else %}
			<a href="#" class="status_changer undrop hidden"><img src="{{ asset('img/btn_dropping_large_ja.png') }}"></a>
			<a href="#" class="status_changer drop"><img src="{{ asset('img/btn_drop_large_ja.png') }}"></a>
		{% endif %}
		<a href="#" class="processing hidden"><img src="{{ asset('img/btn_processing_large_ja.gif') }}"></a>
		</dd>
	</dl>
</div>