<div id="accountinfo">
	<div class="account_avatar">
		{% if app.user.personalDatas.iconSet.uploaded %}
		<img src="{{ asset(app.user.personalDatas.iconSet.thumbnailPath) }}" alt="" width="32" height="32">
		{% else %}
		<img src="{{ asset('img/dummy_120x120.gif') }}" alt="" width="32" height="32">
		{% endif %}
	</div>
	<a class="user_information_link" href="{{ path('droppy_user_user_information') }}/{{ app.user.id }}">
		<div class="account_text">
			<p class="display_name">{{ app.user.personalDatas.displayedName }}</p>
			<p class="account_name">{{ app.user.username }}</p>
		</div>
	</a>
	<div class="account_counter">
		<ul>
			<li class="eventnumber"><a>Events<strong>{{ app.user.createdEventsNumber }}</strong></a></li>
			<li class="dropnumber"><a>Drop<strong>{{ app.user.droppingUsersNumber }}</strong></a></li>
			<li class="droppernumber"><a>Dropper<strong>{{ app.user.droppersNumber }}</strong></a></li>
		</ul>
	</div>
</div>

