<div class="setting_box">
	<h2>{{ 'settings.droppy.label' | trans({}, 'DroppyMainBundle') }}</h2>
	<form name="change_settings" action="{{ path('droppy_user_settings') }}" {{ form_enctype(form) }} method="POST">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<p>{{ form_errors(form.privacySettings) }}</p>
				<th><strong>{{ 'privacy_policy.setting' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						<div class="account_register_choice_form">
							{{ form_widget(form.privacySettings.visibility) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.firstDayOfWeek) }}</p>
				<th><strong>{{ 'settings.droppy.first_day_of_week.label' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						<div class="account_register_choice_form">						
							{{ form_widget(form.firstDayOfWeek) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.timezone) }}</p>
				<th><strong>{{ 'settings.droppy.timezone' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.timezone, {'attr' : {'class':'long'} }) }}
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.color) }}</p>
				<th><strong>{{ 'settings.droppy.event_default_color' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						<div id="event_creation_form_color">
						{{ form_widget(form.color) }}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th><strong>{{ 'settings.droppy.language' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.language, {'attr' : {'class':'long'} }) }}
					</div>
				</td>
			</tr>
			{{ form_rest(form) }}
		</table>
		<p class="btn_style1">
		<a href="#" onclick="change_settings.submit()">
		    {{ 'settings.apply'|trans({}, 'DroppyUserBundle') }}
		</a>
		</p>
	</form>
</div>

