<div class="setting_box">
	<h2>{{ 'settings.account.label' | trans({}, 'DroppyMainBundle') }}</h2>
	<form name="change_personal_datas" action="{{ path('droppy_user_personal_datas') }}" {{ form_enctype(form) }} method="POST">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th><strong>{{ 'settings.account.displayed_name' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.displayedName, { 'attr' : {'class' : 'txt_field setting_username'} }) }}
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.birthDate) }}</p>
				<th><strong>{{ 'settings.account.birth_date' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.birthDate.date, { 'attr' : {'class' : 'txt_field'} }) }}
						{{ form_widget(form.birthDate.privacySettings.visibility) }}
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.birthPlace) }}</p>
				<th><strong>{{ 'settings.account.birth_place' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.birthPlace.name, { 'attr' : {'class' : 'txt_field'} }) }}
						{{ form_widget(form.birthPlace.privacySettings.visibility) }}
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.currentLocation) }}</p>
				<th><strong>{{ 'settings.account.current_location' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.currentLocation.name, { 'attr' : {'class' : 'txt_field'} }) }}
						{{ form_widget(form.currentLocation.privacySettings.visibility) }}
					</div>
				</td>
			</tr>
			<tr>
				<th><strong>{{ 'settings.account.introduction' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">{{ form_widget(form.introduction) }}</div>
				</td>
			</tr>
			<tr>
				<th><strong>{{ 'settings.account.icon_set' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">{{ form_widget(form.iconSet.file) }}</div>
				</td>
			</tr>
			{{ form_rest(form) }}
		</table>
		<p class="btn_style1">
		<a href="#" onclick="change_personal_datas.submit()">
			{{ 'settings.apply' | trans({}, 'DroppyMainBundle') }}
		</a>
		</p>
	</form>
</div>

