<div class="setting_box">
	<h2>{{ 'settings.password.label' | trans({}, 'DroppyMainBundle') }}</h2>
	<form name="change_password" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<p>{{ form_errors(form.current) }}</p>
				<th><strong>{{ 'settings.password.old' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">{{ form_widget(form.current, { 'attr' : {'class' : 'txt_field'} }) }}</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.new) }}</p>
				<th><strong>{{ 'settings.password.new' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.new.first, { 'attr' : {'class' : 'txt_field'} }) }}
					</div>
				</td>
			</tr>
			<tr>
				<p>{{ form_errors(form.new.second) }}</p>
				<th><strong>{{ 'settings.password.new_confirm' | trans({}, 'DroppyMainBundle') }}</strong></th>
				<td class="txt">
					<div class="set">
						{{ form_widget(form.new.second, { 'attr' : {'class' : 'txt_field'} }) }}
					</div>
				</td>
			</tr>
			{{ form_rest(form) }}
		</table>
		<p class="btn_style1">
		<a href="#" onclick="change_password.submit()">
			{{ 'settings.apply'|trans({}, 'DroppyMainBundle') }}
		</a>
		</p>
	</form>
</div>

