{#% set user = user_info.user %#}
<div class="user_wrapper" user_id="{{ user.id }}">
	<div class="photo">
		{% if user.personalDatas.iconSet.uploaded %}
		<img src="{{ asset(user.personalDatas.iconSet.thumbnailPath) }}" width="45" height="45" alt="">
		{% else %}
		<img src="{{ asset('img/dummy_120x120.gif') }}" width="45" height="45" alt="">
		{% endif %}
	</div>
	<div class="txt">
		<p><a href="{{ path('droppy_user_user_information', { 'id': user.id })}}">{{ user.personalDatas.displayedName }}</a></p>
		<div class="btn">
			{% if user_info.dropped %}
				<a href="#" class="status_changer undrop"><img src="{{ asset('img/btn_dropping_small_ja.png') }}" height="20" width="78"></a>
				<a href="#" class="status_changer drop hidden"><img src="{{ asset('img/btn_drop_small_ja.png') }}" height="20" width="78"></a>
			{% else %}
				<a href="#" class="status_changer drop"><img src="{{ asset('img/btn_drop_small_ja.png') }}" height="20" width="78"></a>
				<a href="#" class="status_changer undrop hidden"><img src="{{ asset('img/btn_dropping_small_ja.png') }}" height="20" width="78"></a>
			{% endif %}
			<a href="#" class="processing hidden"><img src="{{ asset('img/btn_processing_small_ja.gif') }}" height="20" width="78"></a>
		</div>
	</div>
	<br class="clear">
</div>

