<!-- event list start -->
{% for schedule in drop_schedules %}
<div class="event_list">
  <div class="event_list_body">
    <div class="photo">
      {% if schedule.iconSet.uploaded %}
      <img src="{{ asset(schedule.iconSet.thumbnailPath) }}" alt="" width="45" height="45">
      {% else %}
      <img src="{{ asset('images/common/dammy_photo_45x45.gif') }}" alt="" width="45" height="45">
      {% endif %}
    </div>
  {% set dropped = schedule in app.user.droppedSchedulesEntities %}
    <div class="txt">
      <div class="btn">
	<a class="button" onFocus="this.blur();" schedule_id="{{ schedule.id }}">
	<strong class="{% if dropped %}drop_btn_style1_o{% else %}drop_btn_style1{% endif %}">
	    <span>
        {% if dropped %}{{ 'drop_status.dropping' | trans({}, 'DroppyWebApplicationBundle')}}
        {% else %}{{ 'drop_status.drop_action' | trans({}, 'DroppyWebApplicationBundle') }} {% endif %}
	    </span>
      </strong></a></div>
      <p class="cal_ttl">{{ schedule.name }}</p>
    </div>
    <br class="clear">
  </div>
</div>
{% endfor %}
<!-- event list end -->
