<!-- event list start --> 
<!-- if today's event : <div class="event_list bg_today"> -->

<div class="event_list">
{% for event in drop_events %}
  <div class="event_list_body">
    <div class="photo">
      {% if event.iconSet.uploaded %}
      <img src="{{ asset(event.iconSet.thumbnailPath) }}" alt="">
      {% else %}
      <img src="{{ asset('images/common/dammy_photo_45x45.gif') }}" alt="">
      {% endif %}
    </div>
    <div class="txt">
      <p class="ymd">{{ event.startDateTime|date('Y/m/d') }}</p>
      <div class="btn"><p class="drop_btn_style1_o"><a href="#">
	    <span>{{ 'drop_status.dropping' | trans({}, 'DroppyWebApplicationBundle') }}</span>
      </a></p></div>
      <p class="caption">{#{ schedule.name }#}</p>
      <p>{{ event.name }}</p>
    </div>
    <br class="clear">
  </div>
{% endfor %}
</div>
<!-- event list end -->
