<dl class="clearfix">
	<dt>
	{% if event.iconSet.uploaded %}
	<img src="{{ asset(event.iconSet.thumbnailPath) }}" alt="" width="120" height="120">
	{% else %}
	<img src="{{ asset('img/dummy_120x120.gif') }}" alt="" width="120" height="120">
	{% endif %}
	</dt>
	<dd>
		<p class="name">{{ event.name }}</p>
		<p class="info">{{ event.startDateTime.date | date('time.year_month_day' | trans({}, 'DroppyMainBundle')) }}
		{% if event.startDateTime.time is not null %}
		{{ event.startDateTime.time|date("G:i") }}
		{% endif %}
		</p>

	</dd>
</dl>

