		{% set event = eventRelation.event %}
		<a href="#" event_id="{{ event.id }}" class="event_details">
			<li class="today">
				<div class="event_avatar">
					<img src="{{ asset(event.iconSet.thumbnail) }}" alt="" width="32" height="32">
				</div>
				<div class="event_text">
					<p class="event_datetime">
						{{ event.startDateTime.date | date('month_day' | trans({}, 'DroppyMainBundle') ) }} {{ event.startDateTime.time | date('G:i') }}</p>
					<p class="event_title">{{ event.details }}</p>
				</div>
				<div class="event_btn">
					{% if eventRelation.eventLiked %}
						<a href="#like"><img src="{{ asset('img/btn_liked.png') }}"></a>
					{% else %}
						<a href="#like"><img src="{{ asset('img/btn_like.png') }}"></a>
					{% endif %}
					{% if eventRelation.inCalendar %}
					    <a href="#in"><img src="{{ asset('img/btn_in_done.png') }}" alt="in"></a>
					{% else %}
					    <a href="#in"><img src="{{ asset('img/btn_in.png') }}" alt="out"></a>
					{% endif %}
				</div>
			</li>
		</a>
		<div class="clear"></div>
