<div class="event_wrapper">
	<li class="today">
		<div class="event_avatar">
			<img alt="" width="32" height="32">
		</div>
		<div class="event_text">
			<p class="event_datetime">
			</p>
			<p class="event_title"></p>
		</div>
			<div class="event_btn">
    			<span class="like_status like"><img src="{{ asset('img/btn_like.png') }}"></span>
				<span class="like_status unlike"><img src="{{ asset('img/btn_liked.png') }}"></span>
				<span class="like_processing hidden"><img src="{{ asset('img/btn_processing_smallest.gif') }}"></span>
				
				<span class="drop_status drop"><img src="{{ asset('img/btn_in.png') }}"></span>
				<span class="drop_status undrop"><img src="{{ asset('img/btn_in_done.png') }}"></span>
				<span class="drop_processing hidden"><img src="{{ asset('img/btn_processing_smallest.gif') }}"></span>
			</div>
	</li>
	<div class="clear"></div>
</div>
