<div id="footer">
    <ul>
		<li>&copy; {{ "now"|date('Y') }} Droppy</a></li>
	<li><a href="{{ path('droppy_aboutus') }}">{{ 'footer.aboutus' | trans({}, 'DroppyMainBundle') }}</a></li>
	<li><a href="{{ path('droppy_privacypolicy') }}">{{ 'footer.privacypolicy' | trans({}, 'DroppyMainBundle') }}</a></li>
	<li><a href="{{ path('droppy_rule') }}">{{ 'footer.rule' | trans({}, 'DroppyMainBundle') }}</a></li>
	<li><a href="{{ path('droppy_news') }}">{{ 'footer.news' | trans({}, 'DroppyMainBundle') }}</a></li>
    </ul>
</div>
