<div id="header">
<div id="header_wrapper">
	<div id="logo"><a href="{{ path('droppy_main_index') }}"><img src="{{ asset('img/header_logo.gif') }}"></a></div>
	{#<div class="recommend">
		<a href="#"><span>{{ 'common.recommended' | trans({}, 'DroppyMainBundle') }}</span><img src="{{ asset('img/icon_recommend.gif') }}"></a>
	</div> }
	<div class="recommend">
		<a href="{{ path('droppy_main_top') }}"><span>{{ 'header.home' | trans({}, 'DroppyMainBundle') }}</span><img src="{{ asset('img/icon_cal.gif') }}"></a>
	</div>
	{ <div class="header_search_form">
		<form action="" method="post">
			<input type="text" name="" value="" class="header_search_txt" placeholder="{{ 'event_recommended_events' | trans({}, 'DroppyMainBundle') }}">
		</form>
	</div> #}
</div>
</div>

