<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/ui.tabs.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('css/ui.reveal.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('css/import.css') }}" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
<title>{% block title %}{{ 'layout.title' | trans }}{% endblock %}</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="{{ asset('css/ie.css') }}">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{{ asset('css/ie7.css') }}">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{{ asset('css/ie6.css') }}">
<![endif]-->
<script type="text/javascript" src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.reveal.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.ui.datepicker-ja.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ui.core.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ui.tabs.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ui.dropdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/ui.change.item.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/footerFixed.js') }}"></script>
{% block javascript %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
<div id="footer">
<div id="footer_body">
<address>Droppy &copy; {{ "now"|date("Y") }}</address>
<ul>
	<li><a href="#">{{ 'layout.footer.company' | trans }}</a>｜</li>
	<li><a href="#">{{ 'layout.footer.privacy' | trans }}</a>｜</li>
	<li><a href="#">{{ 'layout.footer.rule' | trans }}</a>｜</li>
	<li><a href="#">{{ 'layout.footer.information' | trans }}</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
