{% block field_row %}
<tr>
	<th>{{ form_label(form) }}</th>
	<td>
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	</td>
</tr>
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors | length > 0 %}
    	<span class="error_msg">
        {% for error in errors %}
            {% if loop.index == 1 %}
                {{ error.messageTemplate | trans(error.messageParameters, 'DroppyUserBundle') }}
            {% endif %}
        {% endfor %}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block text_widget %}
{% set type = type | default('text') %}
<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="txt_field" />{{ block('abstract_text_widget') }}
{% endblock text_widget %}

{% block password_widget %}
{% set type = type | default('password') %}
<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="txt_field" />{{ block('abstract_text_widget') }}
{% endblock password_widget %}

{% block email_widget %}
{% set type = type | default('text') %}
<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="txt_field" />{{ block('abstract_text_widget') }}
{% endblock email_widget %}

{% block generic_label %}
{% spaceless %}
    {{ label | trans({}, 'DroppyUserBundle') }}
{% endspaceless %}
{% endblock %}


{% block repeated_row %}
{% spaceless %}
    {% for child in form %}
        <tr>
        	<th>{{ form_label(child) }}</th>
        	<td>
	            {% if loop.index == 1 %}
                    {{ form_errors(form) }}
                {% endif %}
	            {{ form_errors(child) }}
	            {{ form_widget(child) }}
	        </td>
        </tr>
    {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock repeated_row %}


