<div id="sidebar_right">
  <p class="btn_style3">
    <a href="{{ path('droppy_webapp_schedule_create') }}">
    {{ 'schedule.creation.create_schedule' | trans({}, 'DroppyWebApplicationBundle') }}
    </a></p>

  <p class="more"><a href="#">{{ 'common.see_more' | trans({}, 'DroppyWebApplicationBundle') }}</a></p>
  <h3>{{ 'schedule.type.recommended' | trans({}, 'DroppyWebApplicationBundle') }}</h3>

  {% include 'DroppyWebApplicationBundle:Includes/index_logged_right:schedules.html.twig' 
  with {'schedules' : recommended_schedules}%}

  <div id="ui-tab-2">
    <h3>{{ 'schedule.type.popular' | trans({}, 'DroppyWebApplicationBundle') }}</h3>
    <ul>
      <li class="ui-tab-2-1"><a href="#today_cal">
          <span>{{ 'time.today' | trans({}, 'DroppyWebApplicationBundle') }}</span></a></li>
      <li class="ui-tab-2-2"><a href="#monthly_cal">
          <span>{{ 'time.this_month' | trans({}, 'DroppyWebApplicationBundle') }}</span></a></li>
      <li class="ui-tab-2-3"><a href="#all_cal-2">
          <span>{{ 'common.all' | trans({}, 'DroppyWebApplicationBundle') }}</span></a></li>
    </ul>
    <div id="today_cal">
      {% include 'DroppyWebApplicationBundle:Includes/index_logged_right:schedules.html.twig' 
      with {'schedules' : popular_schedules.day} %}
    </div>
    <div id="monthly_cal">
      {% include 'DroppyWebApplicationBundle:Includes/index_logged_right:schedules.html.twig' 
      with {'schedules' : popular_schedules.month} %}
    </div>
    <div id="all_cal-2">
      {% include 'DroppyWebApplicationBundle:Includes/index_logged_right:schedules.html.twig' 
      with {'schedules' : popular_schedules.all} %}
    </div>
  </div>
</div>
<br class="clear">
